<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des tâches</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Liste des tâches</h1>

    <div class="column-container">

        <div class="column">
            <h2>Tâches</h2>
            <ul>
                {% for task in tasks %}
                    <li>
                        <input type="checkbox" hx-get="{% url 'update_task_status' task.id 1 if not task.status else 0 %}" hx-trigger="change"> <!-- La case à cocher est cochée si la tâche est terminée  /{{ task.status  }}-->
                        <a href="{% url 'detail' task.pk %}"><strong>{{ task.title }}</strong></a><br>
                        Description: {{ task.description }} <br>
                        Status: {{task.status}}
                    </li>
                {% endfor %}
            </ul>
        </div>
          <div class="column">
            <h2>Tâches en cours</h2>
            <ul>
                {% for task in tasks %}
                    {% if not task.status %}
                        <li><a href="{% url 'detail' task.pk %}">{{ task.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <h2>Tâches terminées</h2>
            <ul>
                {% for task in tasks %}
                    {% if task.status %}
                        <li><a href="{% url 'detail' task.pk %}">{{ task.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

</body>
</html>
